html {
  scroll-behavior: smooth;
}
body {
  font-family: "Courgette", cursive;
  font-family: "Lato", sans-serif;
}
img {
  width: 704px;
  height: 407px;
  background-color: #f1f3ff;
}
h1 {
  color: blue;
}
h3 {
  color: yellow;
}

/* berbagai macam model styling */

/* semua tag di dalam div */
.text{
    font-size: 16px;
    font-weight: 700;
    color: red;
}
/* tag p dengan class text */
p.text{
    font-size: 18px;
    font-weight: 100;
    color: blue;
}
/* di dalam class text terdapat tag p dengan class third */
.text p.third{
    font-size: 20px;
    font-weight: 500;
    color: greenyellow;
}
/* memanggil nama class pada selector */
.fourth{
    font-size: 22px;
    font-weight: 900;
    color: blueviolet;
}
/* memanggil nama class pada selector */
.fifth{
    font-size: 25px;
    font-weight: 300;
    color: green;
}