* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 74, 32);
}
.navbar {
  display: flex;
  margin-right: 200px;
}
a {
  padding: 18px;
  margin: 0;
  color: rgb(40, 40, 40);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  margin-left: 220px;
  position: relative;
}
.logo img {
  height: 63px;
}
.box {
  margin-top: 250px;
  text-align: center;
}
.footer {
  width: 100%;
  height: 160px;
  background: rgb(237, 237, 237);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
p {
  margin-top: 15px;
  color: rgb(40, 40, 40);
  font-family: Arial, Helvetica, sans-serif;
}
.detail {
  display: inline;
  width: 250px;
  margin-left: 200px;
}
.content {
  display: inline;
}
.copyright {
  margin-right: 300px;
}
